@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  font-weight: normal;
  height: 30vw;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
header{
  margin-bottom: 3rem;  
}
nav {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}
body{
  background-image: url('/src/assets/logo_ecole.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

form{
  background-color: rgb(233, 232, 232);
  padding: 3vw; 
  width: fit-content; 
  margin-left: 10vw;
}

.mb-3 input{
  width: 40vw;
}

.detail{
  background-color: rgb(233, 232, 232);
  width: 50vw;
  height: 15vw;
  margin-left: 10vw;
}

.detail_user{
  background-color: rgb(233, 232, 232);
  width: 40vw;
  height: auto;
  padding: 1vw;
  margin-top: -4vw;
  margin-left: 0;
}